.section {
  margin: 20px;
  width: 100%;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 16px;
  background-color: #3c4bbd;
}
.searchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  

  justify-content: center;
  align-items: center;
  
  padding: 10px;
  background-color: #3f51b5;
  border-radius: 4px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.inputWrapper {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 600px;
}
.searchBtn {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #9e9e9e;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-color: white;
  background: none;
  border: none;
  cursor: pointer;
  color: #666;
}
.searchIcon {
  font-size: 20px;
}

.searchBtn:hover,
.searchBtn:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.searchField {
  width: 100%;
  padding: 12px 45px 12px 40px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  max-width: 400px;
  
  
  
  
}
.searchField:hover,
.searchField:focus {
  outline: none;
  border: none;
  box-shadow: none;
  background-color: white;
}
.errorSearch {
  margin-top: 4px;
  color: red;
  font-size: 14px;
}
